.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.message-input {
    width: 90%;
    flex-basis: 90%;
    box-sizing: border-box;
}

.message-container button {
    flex-basis: 8%;
    margin-left: 2%;
    box-sizing: border-box;
}

@media screen and (min-width: 700px) {
    .message-input {
        width: 90%;
        flex-basis: 90%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 790px) {
    .message-input {
        width: 100%;
        flex-basis: 100%;
        box-sizing: border-box;
    }

    .message-container button {
        margin-left: 0px;
    }
}